/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --chat-font-size: 0.5em;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: hsl(270, 20%, 96%);
  font-size: 1rem;
}

.container {
  padding: 0 15px;
  display: flex;
  margin: 0 auto;
  min-height: 94vh;
  padding-top: 20px;
  flex-direction: column;
  align-items: center;
}

.container::before {
  content: "";
  position: absolute;
  width: 110%;
  z-index: -1;
  height: 115%;
  border-radius: 100vw;
  background-color: hsl(278.01deg 98.96% 62.16%);
  top: -50%;
  left: -60%;
}

@media (min-width:768px) {
  .container::before {
    left: -5%;
    width: min(35%, 400px);
  }

  @media (min-width:991px) {
    .container::before {
      height: 135%;
    }

    .container::after {
      content: "";
      position: absolute;
      width: min(35%, 400px);
      z-index: -1;
      height: 85%;
      border-radius: 100vw 100vw 0 0;
      background-color: hsl(266deg 40% 93%);
      bottom: 0%;
      right: 0%;
      opacity: 0.5;
    }

  }

}

/* small */
@media (min-width:768px) {
  .container {
    width: 750px;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

/* medium */
@media (min-width:992px) {
  .container {
    width: 970px;
  }
}

/* large */
@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */

/* Credit Style */
.attribution {
  font-size: 11px;
  text-align: center;
  padding-top: 20px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Start Components */

/* the pointing/sending icon */
.arrow {
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  display: block;
  width: 0.7em;
  height: 0.7em;
  border-radius: 2px;
}

/* End Components */

/* Start Phone Screen  */
.phone-screen {
  box-shadow: 0px 10px 50px 0px hsl(271 36% 24% / 0.2);
  background-color: white;
  border-radius: 2.5em;
  position: relative;
  min-width: 250px;
  max-width: 250px;
  padding: 0.8em;
}

.phone-screen::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 40%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 15px;
  height: 2em;
  background-color: white;
}

/* Start Header */
.header {
  background-image: -webkit-linear-gradient(to left, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  background-image: -moz-linear-gradient(to left, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  background-image: -o-linear-gradient(to left, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  background-image: linear-gradient(to left, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  border-radius: 2em 2em 0.5em 0.5em;
  padding: 2em 1em 1em;
  align-items: center;
  display: flex;
  position: relative;
  width: 100%;

}

/* specific styling on the arrow component */
.header .arrow {
  transform: rotateY(45deg) rotateZ(45deg);
  margin-right: 0.5em;

}

.header img {
  max-width: 10%;
  border: 1px solid white;
  border-radius: 50%;
}

.header .text {
  display: flex;
  flex-direction: column;
  padding-left: 0.5em;
  letter-spacing: 0.04em;
}

.header .user-name {
  color: white;
  font-size: calc(var(--chat-font-size) + 0.3em);
}

.header .status {
  font-size: var(--chat-font-size);
  margin-top: 0.3em;
  color: hsl(276, 100%, 81%);
}

.header .ellipsis {
  width: 10%;
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  position: absolute;
  right: 0;
}

.header .ellipsis span {
  width: 0.2em;
  height: 0.2em;
  background-color: white;
}

/* End Header */
/* Start chat */
.chat-interface {
  background-color: hsl(270, 20%, 96%);
  border-radius: 0em 0em 2em 2em;
  line-height: 1.5;
  margin-top: -3px;
  padding: 0.6em;
  display: flex;
  gap: 0.5em;
  flex-direction: column;
}

.chat-interface .addressee-message-holder {
  margin: 0;
  max-width: 60%;
  padding: 0.8em;
  font-size: var(--chat-font-size);
  color: hsl(276, 55%, 52%);
  background-color: hsl(266deg 40% 93%);
  border-radius: 1em;
  border-bottom-left-radius: 5px;
}

.chat-interface .images {
  display: flex;
  width: 100%;
  gap: 0.5em;
  justify-content: flex-end;
}

.chat-interface .images img {
  max-width: 20%;
  border-radius: 15px;
}

.chat-interface .sender-message-holder {
  box-shadow: 0px 3px 3px 0px hsl(270, 100%, 90%);
  border-bottom-right-radius: 5px;
  color: hsl(271, 15%, 43%);
  background-color: white;
  align-self: flex-end;
  border-radius: 1em;
  border-bottom-right-radius: 5px;
  font-size: var(--chat-font-size);
  padding: 0.8em;
  max-width: 65%;
  margin: 0;
}

.chat-interface .purchaseing-message {
  background-image: -webkit-linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  background-image: -moz-linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  background-image: -o-linear-gradient(to left, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  background-image: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0.5em 1.5em;
  max-width: 75%;
  color: white;
  padding-left: 2em;
  border-radius: 0.7em;
  border-bottom-left-radius: 5px;
}

.chat-interface .time {
  font-size: var(--chat-font-size);
  color: #f1f1f1;
  ;
}

.chat-interface .time::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  left: 0.5em;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid hsl(289, 100%, 72%)
}

.chat-interface .cost {
  font-weight: bold;
  font-size: calc(var(--chat-font-size) + 0.3em);
}

.chat-interface .text-area {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

.chat-interface .text-area .text-editor {
  display: block;
  width: 95%;
  border: none;
  border-radius: 2em;
  color: hsl(206, 6%, 79%);
  font-size: var(--chat-font-size);
  background-color: #fff;
  padding: 1.5em;
  padding-bottom: 1em;
}

.chat-interface .text-area .sumbit-button {
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  right: 0.6em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: rotate(-135deg);
  background-color: hsl(271, 36%, 24%);
}

.chat-interface .sumbit-button .arrow {
  border-width:0px 0px 3px 3px;
  border-radius: 3px;

}

.heading {
  padding: 5%;
}

@media (min-width:768px) {
  .heading {
    display: flex;
    padding: 0;
    width: 40%;
    flex-direction: column;
    align-items: flex-start;
  }
}

.heading h1 {
  text-align: center;
  font-size: 2.5em;
  color: hsl(271, 36%, 24%);
}

@media (min-width:768px) {
  .heading h1 {
    text-align: start;
    font-size: 2em;
    letter-spacing: 1.2px;
  }
}

.heading p {
  color: hsl(270, 7%, 64%);
  padding: 0 3%;
  line-height: 1.6;
  text-align: center;
}

@media (min-width:768px) {
  .heading p {
    text-align: start;
  }
}

/* End chat */
/* End Phone Screen  */